{%- comment -%}
Create image slide show

Mandatory parameter:
 - images: List of images separated with comma
 - slideShowIndex : Unique index for the slideshow
Optional parameter:
 - caption_list: Ordered comma separated list of image captions.
    Very important to pass all the captions or none at all.
    If necessary, use ',,' to leave an image with no caption.
{%- endcomment -%}

{% assign images = include.images | split: ","  %}
{% assign imgClassName = "slideShowImg" | append: include.slideShowIndex %}
{% if include.caption_list != nil %}
  {% assign captions = include.caption_list | split: ","  %}
  {% assign captClassName = "slideShowCapt" | append: include.slideShowIndex %}
{% endif %}

<div class="slide-content slide-display-container" data-id="{{ include.slideShowIndex }}">
{% for image in images %}
  {%- assign _s = page.path.size | minus: 4 -%}
  {%- assign path = page.path | slice: 1, _s | prepend: "/img/" | append: "/" |
                  append: image -%}
  <img class="{{ imgClassName }}" src="{{ path }}" style="width:100%;height: auto;">
  {% if include.caption_list != nil %}
    <div class="{{ captClassName }} w3-display-bottomleft w3-container w3-padding-16 w3-black">
     {{ captions[forloop.index0] }}
    </div>
  {% endif %}
{% endfor %}
  <button class="slide-button slide-black slide-display-left" onclick="plusDivs(-1,{{ include.slideShowIndex }})">&#10094;</button>
  <button class="slide-button slide-black slide-display-right" onclick="plusDivs(1,{{ include.slideShowIndex }})">&#10095;</button>
</div>

{% if slideshowScript == nil %}
  {% assign slideshowScript = 1 %}
  <div class="clearfix"></div>
  <script src="{{ '/assets/js/slides.js' | prepend: site.baseurl }}"></script>
{% endif %}
