---
layout: blank
permalink: /categories/
---

<div class="list-content-box">
  <h1> {{ page.title }} </h1>
  {% include add_multilang.html %}
  <ul>
   {% assign posts=site.posts | where:"lang", page.lang %}
   {%- for post in posts -%}
      {%- if post.categories contains page.filter_by -%}
        <li>
          <h2>
            <a href="{{ site.url }}{{ post.url }}" class="post-title">
              <span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
            </a>
          </h2>
          <span class="date">{% include author.html content=post.author %} on {{ post.date | date: '%d %b %Y' }}</span>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
